@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?24o31x');
  src: url('../fonts/icomoon.eot?24o31x#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?24o31x') format('truetype'),
    url('../fonts/icomoon.woff?24o31x') format('woff'),
    url('../fonts/icomoon.svg?24o31x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e904";
}

.icon-triangle-down:before {
  content: "\e901";
}

.icon-home:before {
  content: "\e900";
}

.icon-list:before {
  content: "\e9ba";
}

.icon-eye:before {
  content: "\e9ce";
}

.icon-smile:before {
  content: "\e9e1";
}

.icon-arrow_lift:before {
  content: "\e902";
}

.icon-close:before {
  content: "\e903";
}

.icon-shopping_cart:before {
  content: "\e907";
}
